main#contact.container-fluid,
main#sended.container-fluid {
  padding-left:0;
  padding-right:0;
  margin-left:0;
  margin-right:0;
}

nav {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.4)
}
a.nav-link {
  padding: 0.1rem 0.1rem;
}
a.nav-link.active {
  border-bottom:3px solid #03a9f4;
  font-weight: bold;
}
a.nav-link:hover {
  color:#007bff !important;
  font-weight: bold;
}
form {
  box-shadow:0px 0px 20px 0px;
}
#sended div {
  font-weight: bold;
  color: blue;
}
@media screen and (max-width: 767px) {
  #contact form {
    height: 100vh;
    border-radius: 0;
    box-shadow: none;
    /* background-color: rgba(10,10,10,.73); */
  }
}